<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANWJfCfBGukwAKw62HXjvcAhRck6mvpCU</string>
	<key>GCM_SENDER_ID</key>
	<string>54463308972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nacho.com</string>
	<key>PROJECT_ID</key>
	<string>nacho-f1aba</string>
	<key>STORAGE_BUCKET</key>
	<string>nacho-f1aba.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54463308972:ios:776295a7549d32108f6b09</string>
</dict>
</plist>